.course-nav-padding {
    padding-left: 5px;
  }

  .course-nav-decor {
    list-style: none;
  }

  .course-nav-element {
    text-decoration: none;
    color: red;
  }

  .li-padding {
    padding-top: 7px;
    padding-bottom: 7px;
  }

  .li-active {
    color:black;
    border-left: 5px;
  }
  
  .left-border {
    border-left: 2px solid black;
  }